<section class="features" id="features">
    <div class="container">
        <h2 class="features__title title--m-t">Here is what you get</h2>
        <ul class="features__list">
            <li class="features__item">
                <img src="./dist/img/features-1.png" alt="" class="features__article-img article-img1" width="111" height="64">
                <div class="features__article-text">
                    <h3 class="features__article-title">Creatred to Make The Web Better</h3>
                    <p class="features__article-discription">
                        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim.
                        sSed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>
            <li class="features__item">
                <img src="./dist/img/features-2.png" alt="" class="features__article-img article-img2" width="90" height="80">
                <div class="features__article-text">
                    <h3 class="features__article-title">Incredibly Powerful Tool</h3>
                    <p class="features__article-discription">
                        Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>
            </li>
            <li class="features__item">
                <img src="./dist/img/features-3.png" alt="" class="features__article-img article-img3" width="60" height="84">
                <div class="features__article-text">
                    <h3 class="features__article-title">Experimental Stuff</h3>
                    <p class="features__article-discription">
                        Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>
            </li>
            <li class="features__item">
                <img src="./dist/img/features-4.png" alt="" class="features__article-img article-img4" width="71" height="71">
                <div class="features__article-text">
                    <h3 class="features__article-title">Creatred to Make The Web Better</h3>
                    <p class="features__article-discription">
                        Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>
            </li>
        </ul>
        <div class="feature__wrapper">
            <h2 class="features__title title--d">Here is what you get</h2>
            <picture class="features__img">
                <source srcset="./dist/img/features-img-big.png" media="(min-width: 481px)">
                <img src="./dist/img/features-img-small.png" alt="" width="317" height="381">
            </picture>
        </div>
    </div>
</section>