.header {
  background: url("../img/header-bg.png") center -60px no-repeat;
  min-height: 792px;
  display: flex;
  flex-direction: column;

  @include tablet {
    min-height: 852px;
    background-position-y: top;
  }

  @include desktop {
    min-height: 90vh;
    background-size: cover;
  }

  &__navbar {
    position: relative;
    background-color: #27262A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 16px;
    margin-bottom: 50px;

    @include tablet {
      flex-wrap: wrap;
      padding: 22px 20px 18px;
      margin-bottom: 68px;
    }

    @include desktop {
      flex-wrap: nowrap;
      background-color: transparent;
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 115px;
    }
  }

  &__btn {
    display: inline-block;
    font-weight: bold;
    color: $light-color;
    background-color: $header-primary-color;
    border-radius: 19px;

    &--buy-now {
      font-size: 15px;
      line-height: 15px;
      padding: 12px 25px;

      @include desktop {
        order: 2;
      }
    }

    &--download {
      font-size: 18px;
      line-height: 18px;
      padding: 15px 30px;

      &:hover {
        box-shadow: 0 0 2px 2px $header-primary-color;
      }
    }

    &:hover {
      background-color: $light-color;
      color: $header-primary-color;
      box-shadow: 0 0 1px 1px $header-primary-color;
    }
  }

  & > .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    line-height: 48px;
    color: $light-color;
    margin: 0 0 19px;

    @include tablet {
      font-size: 72px;
      line-height: 72px;
    }

    @include desktop {
      font-size: 82px;
      line-height: 82px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: $header-primary-color;
    margin-bottom: 14px;

    @include tablet {
      font-family: "Lato", sans-serif;
    }
  }

  &__app-version {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
  }

  &__download-wrapper {
    @include desktop {
      position: relative;
      transform: translateY(50px);
    }
  }

  &__download-info {
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    margin-bottom: 0;
  }
}

.logo {
  display: block;
  height: 41px;
  min-width: 43px;
  background: url("../img/logo.png") no-repeat;
  color: $header-primary-color;

  &:hover {
    background-image: url("../img/logo-hover.png");
    color: $light-color;
  }

  @include desktop {
    margin-right: auto;
  }

  &__text {
    display: none;
    margin-left: 60px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
    color: inherit;
    text-transform: uppercase;

    @include tablet {
      display: inline;
    }
  }
}

.burger-btn {
  width: 26px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @include tablet {
    display: none;
  }

  &__bar {
    display: block;
    width: 100%;
    height: 3px;
    background: $light-color;
    border-radius: 1px;
    margin: 6px 0;
    transition: 0.4s;

    &--top {
      margin-left: 42%;
      width: 58%;
    }

    .burger-btn--active > &--top {
      transform: rotate(-45deg) scaleX((100/58)) translate(-6px, 4px);
    }

    .burger-btn--active > &--mid {
      opacity: 0;
    }

    .burger-btn--active > &--bot {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

.nav {
  position: absolute;
  right: 16px;
  top: 100%;
  width: 290px;
  background-color: #333333;
  display: none;

  &--visible {
    display: block;
  }

  @include tablet {
    display: block;
    width: 100%;
    position: static;
    background-color: transparent;
    margin-top: 23px;
  }

  @include desktop {
    order: 1;
    width: auto;
    margin-top: 0;
    margin-right: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include list-reset;

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
  }

  @media(max-width: $tablet-width - 1) {
    &__item:last-child::after {
      content: "";
      display: block;
      height: 15px;
    }
  }
}

.nav__link {
  display: block;
  position: relative;
  font-size: 26px;
  line-height: 26px;
  color: $light-color;
  padding: 35px 35px 30px;
  border-bottom: 3px solid #3B3B3B;

  @media(max-width: $tablet-width - 1) {
    &:focus {
      color: $header-primary-color;

      &::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        height: 58px;
        border-left: 8px solid $header-primary-color;
      }
    }
  }

  @include tablet {
    padding: 0;
    border-bottom: 0;
    color: $header-primary-color;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin: 0 23px 0;

    &:hover {
      color: $light-color;
    }
  }
}