@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
