.revolutionary-editor {
  @include flex-center;

  .container {
    padding-top: 72px;

    @include tablet {
      padding-top: 88px;
    }

    @include desktop {
      padding-top: 130px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 27px;
    color: #635C73;

    @include tablet {
      font-size: 42px;
      line-height: 42px;
      margin-top: 0;
      margin-bottom: 31px;
    }

    @include desktop {
      font-size: 54px;
      line-height: 54px;
      margin-top: 0;
      margin-bottom: 35px;
    }
  }

  &__text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 16px;
    color: #323232;

    @include tablet {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 10px;
    }

    @include desktop {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 6px;
    }
  }

  &__list {
    @include list-reset;
    @include flex-center;
    flex-wrap: wrap;
    padding: 2px 0;
    margin-right: 12px;
  }

  &__link:last-child {
    margin-right: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  a {
    color: $icon-color;
  }

  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: $features-bg-color;
    border: 1px solid $icon-color;
    border-radius: 6px;
    margin-left: 12px;
  }

  &__statistic {
    font-weight: 700;
    font-size: 12px;
    padding: 4px 12px 4px 4px;
  }

  &__icon{
    display: block;
    color: #6a737d;
    margin-left: 12px;
  }

  &__social-count {
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 600;
    color: #24292e;
    background-color: $light-color;
    border-left: 1px solid $icon-color;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}