.testimonials {
  background: url("../img/testimonials-bg-mobile.png") top center / cover;
  padding-top: 57px;
  text-align: center;

  @include tablet {
    padding-top: 86px;
    background-image: url("../img/testimonials-bg-tablet.png");
  }

  @include desktop {
    padding-top: 108px;
    background-image: url("../img/testimonials-bg-desktop.png");
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    color: $light-color;
    margin: 0 0 42px;

    @include tablet {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 78px;
    }

    @include desktop {
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 75px;
    }
  }

  &__list {
    @include list-reset;
    display: grid;
    justify-items: center;
    margin: 0 auto 37px;
    grid-row-gap: 37px;

    @include tablet {
      grid-template: repeat(3, 1fr) / repeat(2, minmax(200px, 1fr));
      grid-gap: 45px 30px;
      margin-bottom: 67px;
    }

    @include desktop {
      grid-template: repeat(2, 1fr) / repeat(3, minmax(200px, 1fr));
      grid-gap: 96px 60px;
      margin-bottom: 120px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__img-wrapper {
    margin-bottom: 22px;
    width: 100%;
    height: 64px;
    @include flex-center;
    align-items: center;
  }

  &__text {
    margin: 0;
    padding: 0 10px;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $light-color;
  }

  &__afterword {
    margin: 0 auto;
    padding: 0 25px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #A291A5;

    &::after {
      content: "";
      display: block;
      width: 70%;
      margin: 20px auto 0;
      border-bottom: 2px solid #645766;
    }

    @include desktop {
      max-width: 887px;
    }
  }
}